.section {
    padding: 60px 20px;
    color: #fff;
    text-align: center;
}

.section1 {
    background-color: #3498db;
    clip-path: ellipse(100% 80% at 50% 100%);
}

.section2 {
    background-color: #2ecc71;
    clip-path: ellipse(100% 80% at 50% 0%);
}
