PeriOz3:システム要件
- Windows 10 以上
- 16GB RAM
- 500MBのディスク空き容量
- 条件を満たす場合においても、事前に試用版にて確認をしてください。
- CPUの動作条件は設定しませんが、必ず試用版にて動作確認をしてください。


このアプリケーションの利用には別途VLC MEDIA PLAYER(https://www.videolan.org/index.ja.html)のインストールが必要です。予めインストールした上でご利用ください。

注意：
インストールを開始する前に、他のアプリケーションをすべて閉じてください。
