PeriOz3:システム要件
- Windows 10 以上
- 16GB RAM
- 500MBのディスク空き容量

このアプリケーションの利用には別途VLC MEDIA PLAYER(https://www.videolan.org/index.ja.html)のインストールが必要です。予めインストールした上でご利用ください。

注意：
インストールを開始する前に、他のアプリケーションをすべて閉じてください。
