PeriOz Web:システム要件
- Windows 10 以上(Macには対応していません。)
- 16GB RAM(8GBでも動くと思いますが、システムのメモリ使用量により変わります。)
- 2.5GBのディスク空き容量(その他faster-whisperのモデルをダウンロードする領域が必要です)

(i) このアプリはCPU駆動とGPU*駆動を選択できます。GPU駆動を選ぶ場合、十分な性能をもったNVIDIA製のGPUが必要です。高精度の文字起こし機能を使うには8GBを超えるメモリを搭載したGPUが望ましいです。

*cuda(GPU)利用でmodel="large-v2",compute_type=float32,beamsize=5で8GB前後。これが私がよく使う設定です。例えば、8GBのメモリ搭載のNVIDIA 1070ti(float16は使用不可)の場合、この設定で動きますが、GPUメモリ不足でエラーが出ることもあります。

*GPU:グラフィックカード


(ii) また、CPUはfloat16(半精度浮動小数点)のオプションを利用することができません。またGPUもfloat16に対応していないものがあります。faster-whisperの仕様やGPU,CPU性能についてもお調べになった上でご検討ください。

(iii) 本来,このアプリの利用には①ffmpegのインストールとpath設定、②NVIDIA CUDA Tool Kitのインストールとpath設定、③cuDNNのインストールとpath設定、②，③の事前準備や、④NVIDIAのDriverのインストールが必要です。
*CPUのみの利用の場合は本来①のみ。

④以外の項目は、アプリ内に同梱する形で基本的に設定が不要になるよう対応していますが、②,③についてはご利用のPC環境によりご自身でのインストールとpath設定が必要な場合が生じる可能性があります。NVIDIA製の最新ドライバーは各自インストールをお願い致します。

以上、快適に使うためのハードウェアの要件はかなり厳しいアプリです。PC環境により上記条件をクリアしてもうまく動かない可能性があります。

ハードウェアが対応していない、あるいはOSがWidowsではない方向けにGoogleColabにこのアプリをアップロードしてあります。(GoogleColabにおいて本アプリのような演算を扱うにはGoogleとの有償契約が必要です。)

注意：
インストールを開始する前に、他のアプリケーションをすべて閉じてください。
