PeriOz2:システム要件
- Windows 10 以上
- 16GB RAM
- 2.5GBのディスク空き容量その他Deepmultilingualpunctuationの機能を使う際はモデルダウンロードが行われるのでプラス数GBが必要になります。
- CPUの動作最低条件は設定しませんが、必ず試用版にて動作確認をしてください。


(i) このアプリはWebアプリ用のパッケージを使い、Webブラウザ上にUIが表示されます。インターネット接続、ブラウザの準備をお願いします(Google Chrome推奨)。

(ii) また、"グラフィックアクセラレーションが使用可能な場合は使用する"旨のブラウザ設定がある場合は、使用することをお勧めします。

(iii) その他のアプリケーションとの競合で動作が遅くなることがありました。開発者環境ではDeepLのデスクトップアプリの常駐が原因でしたが、DeepLアプリを終了することで問題は解消しました。その他環境依存要因はご利用者様にて対処をお願い致します。ほぼ同じパッケージで動作する無料版をお配りしています。ウィルスチェックソフトとの相性等、購入前に必ず無料版にて動作チェックをお願い致します。


注意：
インストールを開始する前に、他のアプリケーションをすべて閉じてください。
