PeriOz1:システム要件
- Windows 10 以上(Macには対応していません。)
- 16GB RAM(8GBでも動くと思いますが、システムのメモリ使用量により変わります。)
- 2.5GBのディスク空き容量(その他faster-whisperのモデルをダウンロードする領域が必要です)
- GPU利用の場合 Nvidia製GTX10シリーズ以降。
- CPU利用の場合 特に条件はありません。
- 条件を満たす場合においても、事前に試用版にて確認をしてください。

(i) このアプリはCPU駆動とGPU*駆動を選択できます。GPU駆動を選ぶ場合、十分な性能をもったNVIDIA製のGPUが必要です。高精度の文字起こし機能を使うにはfloat16を使える8GB程度のGPUか,float32のみなら8GBを超えるメモリを積んだGPUが必要になると思います。

*参考:cuda(GPU)利用でmodel="large-v2",compute_type=float32,beam_size=5で8GB前後。これが私がよく使う設定です。例えば、8GBのメモリ搭載のNVIDIA 1070ti-8GB(float16は使用不可)で上記設定でも動きますが、GPUメモリの不足でエラーになることもあります。"large-v2",compute_type=float16,beam_size=5も同様によく使います。この場合、8GB以下でも対応可能です。

**GPU:グラフィックカード

(ii) また、CPUはfloat16(半精度浮動小数点)のオプションを利用することができません。またGPUもfloat16に対応していないものがあります。faster-whisperの仕様とCPU,GPU性能についてもお調べになった上でご検討ください。

(iii) 本来,このアプリの利用には①ffmpegのインストールとpath設定、②NVIDIA CUDA Tool Kitのインストールとpath設定、③cuDNNのインストールとpath設定、②，③の事前準備や、④NVIDIAのDriverのインストールが必要です。
*CPUのみの利用の場合は本来①のみ。

④以外の項目は、アプリ内に同梱する形で基本的に設定が不要になるよう対応していますが、②,③についてはご利用のPC環境によりご自身でのインストールとpath設定が必要な場合が生じる可能性があります。NVIDIA製の最新ドライバーは各自インストールをお願い致します。

以上、快適に使うためのハードウェア、ソフトウェアの要件はかなり厳しいアプリです。
PC環境により上記条件をクリアしてもうまく動かない可能性があります。無料版アプリを配布しているので必ず十分な動作確認の上で購入してください。

注意：
インストールを開始する前に、他のアプリケーションをすべて閉じてください。
